$primary: #71b200;

$header-color: $primary;
$text-color: #eee;

$link-color: $primary;
$link-hover-color: darken($link-color, 10%);
$touch-tap-color: $link-color;

$select-color: white;
$select-bg-color: $primary;